<div width="400px">
    <div class="row mx-5 my-5">
        <div class="col text-center my-3">
            <img src="../../../../assets/img/quien-soy.png" alt="quien-soy" width="200">
        </div>
        <div class="col">
            <ul class="d-inline">
                <li class="mb-2"><u>Nombre:</u> Lucas Martín</li>
                <li class="mb-2"><u>Apellido:</u> Mascheroni</li>
                <li class="mb-2"><u>División:</u> 4°B</li>
                <li class="mb-2"><u>Email:</u> lucasmasche00@gmail.com</li>
                <li class="mb-2"><u>GitHub:</u> https://github.com/lucasmasche00</li>
                <li class="mb-2"><u>Reglas de Rompecabezas:</u><p>El jugador iniciará en el único botón vacío y podrá cliquear sólo botones que se encuentren pegados horizontalmente o verticalmente. Al cliquear un botón este intercambiará de lugar con el botón vacío. Para ganar el jugador deberá ordenar todos los números de los botones de menor a mayor hasta que al final quede el botón vacío (la parte inferior derecha de la cuadrícula). Cuántos menos movimientos haga el jugador más puntos obtendrá.</p></li>
            </ul>
        </div>
    </div>
</div>