<div *ngIf="mostrarBienvenida; else login" class="container my-3 text-center">
    <h1 class="display-4">Bienvenido {{ usuariosService.usuarioLogueado.nombre }}</h1>
    <img src="../../../../assets/img/firecracker.png" alt="fuegos-izquierda" width="400">
    <img src="../../../../assets/img/welcome.png" alt="bienvenida" width="200">
    <img src="../../../../assets/img/firecracker.png" alt="fuegos-derecha" width="400">
</div>
<ng-template #login>
    <app-login (enviarIsLogged)="recibirIsLogged($event)"></app-login>
</ng-template>